body{
    background-image: url('../img/background-image1.png');
    background-repeat: repeat-x;
}

/* 解决高度塌陷 */
.clearfix::before,
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
/* 固定元素宽度和居中 */
.w{
    width: 940px;
    margin: 0 auto;
    padding-top: 37px;
    padding-bottom: 46px;
    /* background-color: yellow; */
}

.logo{
    margin-left: 15px;
    /* 让下面的.nav元素上来 */
    display: inline-block;
}

/* 设置导航条 */
.nav {
    float: right;
}

.nav li {
    float: left;
    padding: 0 9px 11px 11px;
    border-left: 1px dotted #d6d6d6;
    margin-top: 22px;
}

/* 设置导航条中的链接 */
.nav a {
    color: #808080;
    font-family: Georgia;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

/* 设置超链接的移入效果 */
.nav a:hover {
    color: #a1a1a1;
    text-decoration: underline;
}
/*
 设置导航小标题 
  注意：在Google中字体最小支持到12px，1~11px设置都是没有用的
*/
.nav li p {
    font: 11px Tahoma;
    color: #b7b7b7;
}
.banner,.content{
    padding-top: 0;
    padding-bottom: 0;
}
.banner {
    
    /* 为banner设置阴影 */
    background-repeat: no-repeat;
    background-image: url('../img/banner/shadow.png');
    background-position: center bottom 35px;
    /* background-color: yellow; */
    /* 因为有哪个轮播图，配合轮播图开启相对定位 */
    position: relative;
}
.pointerDiv {
    /* 开启绝对定位 */
    position: absolute;
    bottom: 60px;
    left: 15px;
}
.pointerDiv a {
    width: 17px;
    height: 17px;
    margin-left: 4px;
    background:url(../img/sprite.png) no-repeat 0 -9px ;
    float: left;
    
}
.pointerDiv .active,
.pointerDiv a:hover {
    background:url(../img/sprite.png) no-repeat left -20px top -9px;
}
.content{
    /* background-color: red; */
}
.content h1 {
    text-align: center;
    font: bold 24px Georgia;
    padding: 18px 0 20px 0;
    background: url('../img/content/break.png') no-repeat center bottom;
    margin-bottom: 22px;
}

.content .pl,.content .cs,.content .uc,
.contact .sc,.contact .co,.contact .nu
{
    width: 300px;
    float: left;
    /* background-color: yellow; */
}
/* 给div添加左右边距 */
.content .cs,.contact .co {
    margin: 0 20px;
}

/* 设置标题 */
.content h2{
    font: 21px Georgia;
    color: #11719e;
}

.content .p1 {
    font: 12px Helvetica;
    color: #8c8c8c;
}

.content .imgDiv{
    width: 299px;
    height: 202px;
    background-color: #f3f3f3;
    margin: 16px 0 10px 0;
}

.content .imgDiv img {
    margin-top: 12px;
    margin-left: 7px;
}

/* 设置第二个段落 */
.content .p2{
    height: 92px;
    font: 13px Helvetica;
    color: #938e8e;
    white-space: 1em;
}

.content .p2::first-letter{
    text-transform: capitalize;
}
.content .lm {
    display: block;
    width: 164px;
    height: 32px;
    background: url('../img/div-img/img2.png') no-repeat;
    font: 12px/32px Helvetica;
    text-decoration: none;
    color: #016999;
    text-indent: 1em;
    margin-bottom: 35px;
}
.contact{
    background: url('../img/content/break.png') no-repeat;
}
.contact .sc,.contact .co,.contact .nu{
    width: 290px;
    height: 300px;
     /* background-color: yellow; */
}

.contact .txt,.contact .tarea,.contact .btn{
    border: none;
    padding: 0 0;
}
.contact .txt,.contact .tarea{
    padding: 0 10px;
    border: solid 1px #cfcfcf;
}

/* 设置联系栏中的表单 */
.contact .txt {
    width: 269px;
    height: 27px;
    line-height:27px ;
    margin-bottom: 16px;
}

.contact .tarea {
    /* 设置textarea不可调整 */
    width: 266px;
    height: 134px;
    resize: none;

}
.contact .btn{
    width: 163px;
    height: 32px;
    padding: 0 0;
    margin: 10px 0 23px 5px;
    text-align: left;
    color: #eef3f7;
    /* 缩进两个字符串 */
    text-indent: 1em;
    cursor: pointer;
    background: url(../img/sprite.png) no-repeat 0 -36px;
}

.contact h2 {
    font: 18px Georgia;
    color: #444444;
    border-bottom: 1px dotted #e9e9e9;
    padding-bottom: 10px;
    padding-left: 2px;
    margin-bottom: 3px;
}

.contact .sc .p1 {
    font: 12px Helvetica;
    color: #444444;
}

.sc .icon {
    font-size: 0px;
    margin-top: 8px;
}

.sc .icon a {
    margin-right: 4px;
}

/* 设置第二个标题 */
.sc .nl {
    padding: 30px 0 10px;
    font: 18px "Myriad Pro";
    color: #444444;
}
.sc .firstl {
    margin: 12px 0 11px;
}

.sc .firstlbtn{
    margin-top: 0;
}

/* 创建联系栏右边 */
.nu {
    width: 320px;
}
.nu img {
    float: left;
    margin-right: 10px;
}

.nu p{
    font-size: 12px/1 Helvetica;
    color: #444;
    height: 75px;
    border-bottom: 1px dotted #cfcfcf;
    padding-top: 4px;
}

.nu p:last-of-type{
    height: 64px;
}

#nuright{
    width: 320px;
}

.footer{
    height: 173px;
    background-color: #333;
    border-top: 10px solid #4c4c4c;
    
}

.footer div:first-child {
    padding-top: 18px;
    /* margin: 18px 23px 0 8px; */
}
.footer a,.footer p {
    font: 11px Helvetica;
    color: #999;
    text-decoration: none;
}

.footer a:hover{
    color: rgb(211, 209, 209);
    text-decoration: underline;
}

.footer p {
    margin-left: 8px;
    margin-right: 15px;
    margin-bottom: 6px;
}

.footer .w p:first-child {
    float: right;
}